 # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Flask instance folder
instance/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm / VS Code settings
.idea/
.vscode/

