<!DOCTYPE html>
<html>
<head>
    <title>2026 Stock Dashboard</title>
    <script src="https://cdn.plot.ly"></script>
</head>
<body>

    <h1>Real-Time Stock Visualizer</h1>

    <form method="POST" id="filterForm">
        <!-- Dropdown -->
        <select name="ticker" onchange="this.form.submit()">
            <option value="aapl_us_d" {% if ticker == 'aapl_us_d' %}selected{% endif %}>Apple</option>
            <option value="gme_us_d" {% if ticker == 'gme_us_d' %}selected{% endif %}>GameStop (GME)</option>
            <option value="jpm_us_d" {% if ticker == 'jpm_us_d' %}selected{% endif %}>JPMorgan Chase (JPM)</option>
            <option value="meta_pl_d" {% if ticker == 'meta_pl_d' %}selected{% endif %}>Meta (META)</option>
        </select>

        <!-- Slider -->
        <input type="range" name="shortRange" min="30" max="90" 
            value="{{ short_day_range }}" 
            onchange="this.form.submit()">
        <span>Value: {{ short_day_range }}</span>

        <input type="range" name="longRange" min="120" max="360" 
            value="{{ long_day_range }}" 
            onchange="this.form.submit()">
        <span>Value: {{ long_day_range }}</span>


    </form>




<div>
    {{ plot | safe }}
</div>



<h1>All Trades:</h1>
<!-- The |safe filter tells Jinja2 to render the raw HTML string -->
{{ table_html|safe }}







</body>
</html>