{% extends "base.html" %}

{% block title %}Home - Stock App{% endblock %}

{% block content %}
    <h1>Welcome to the Dashboard</h1>
    <p>Select a tool from the navigation bar above to start analyzing stocks.</p>


    <!-- Button 1: Routes to 'page_one' function -->
    <a href="{{ url_for('moving_average') }}">
        <button type="button">Go to Page One</button>
    </a>

    <!-- Button 2: Routes to 'page_two' function -->
    <a href="{{ url_for('efficient_frontier') }}">
        <button type="button">Go to Page Two</button>
    </a>
{% endblock %}
